{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>WEB KALKULATOR DJANGO</title>
{% endblock meta %}

{% block content %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <center><h1>Calculator Application</h1></center>
    <link rel="stylesheet" type="text/css" href="./static/img/css/style.css" />
</head>

<body>
  <header>
    <div class="jumbotron">
        <h1 class="white-text-with-blue-shadow">MATEMATIKA KOMPUTASI</h1>
        <p>Program ini dibuat dengan sepenuh hati seperti anak sendiri</p>
    </div>
    <nav>
        <ul>
          <center>
            <li><a href="#calculator">Kalkulator Sederhana</a></li>
            <li><a href="#trigono">Grafik Trigonometri</a></li>
            <li><a href="#Gunung_Rinjani">Grafik Numerik</a></li>
            <li><a href="#Gunung_Kerinci">Science Calculator</a></li>
            <li><a href="#Gunung_Gede">Kriptografi</a></li>
          </center>  
        </ul>
    </nav>
 </header>



<section id="calculator">
  <div id="content">
    <article id="gunung_merbabu" class="card">
        <h2>Kalkulator Sederhana</h2>
        <section> 
          <p>&nbsp;&nbsp; &nbsp; Kesempatan kali ini saya ingin membagikan tutorial cara membuat kalkulator sederhana di python. Program yang sama juga saya buat di beberapa bahasa pemrograman lain seperti C++ dan PHP. Program kalkulator bisa dibuat dengan mudah berbasis CLI (Command Line Interface) jika ingin dikembangkan berbasis GUI pun bisa. Program kalkulator diimplementasi dari operasi aritmatika seperti penjumlahan,pengurangan perkalian, pembagian dan beberapa operasi lainnya.</p>
                    
                  <p>&nbsp;&nbsp;&nbsp; Cara membuat kalkulator sederhana python – pesonainformatika.com. Dalam proses belajar python, selain mempelajari dasar-dasar pemrograman dan syntax nya, perlu juga melakukan praktek membuat program sederhana. Program yang cukup sering digunakan sebagai latihan yaitu membuat kalkulator sederhana. Di tulisan kali ini saya akan menampilkan cara membuat kalkulator sederhana menggunakan bahasa pemrograman python.</p>
              </section>
              <section>
        </section>
    </article>  
  </div>


<div class="calculator">

  <div class="userInput"><p class="userEntry"></p><p class="finalCalc"></p></div>

    <div class="calcButtons">
    

        <button>+/-</button>
        <button>AC</button>
        <button>DEL</button>
        <button class="operator">*</button>

        <button class="number">1</button>
        <button class="number">2</button>
        <button class="number">3</button>
        <button class="operator">+</button>

        <button class="number">4</button>
        <button class="number">5</button>
        <button class="number">6</button>
        <button class="operator">/</button>
    
        <button class="number">7</button>
        <button class="number">8</button>
        <button class="number">9</button>
        <button class="operator">-</button>

    
        <button class="number">0</button>
        <button class="decimal">.</button>
        <button class="operator">=</button>
    </div>

  </div>
</div>
</section>


<section id="trigono">
  <div id="content">
    <article id="gunung_merbabu" class="card">
        <h2>Grafik Trigonometri</h2>
        <section> 
          <p>&nbsp;&nbsp; &nbsp; Dalam ilmu Matematika terdapat materi pembelajaran mengenai Trigonometri. Fungsi trigonometri sendiri meliputi rumus, grafik, turunan dan sebagainya. Meski begitu banyak orang yang belum mengetahui wacana cara menciptakan grafik fungsi trigonometri. Sebenarnya apa itu trigonometri? Trigonometri ialah cabang ilmu Matematika yang menjelaskan wacana hubungan antara panjang dengan sudut segitiga. Trigonometri tersebut mempunyai fungsi sederhana. Adapun fungsi trigonometri secara sederhana yaitu meliputi fungsi sinus (sin), fungsi tangen (tan), dan fungsi cosinus (cos). Masing masing fungsi mempunyai grafik trigonometrinya sendiri.</p>
                    
                  <p>&nbsp;&nbsp;&nbsp; Fungsi trigonometri ialah fungsi yang mempunyai grafik trigonometri secara berulang dan terus menerus dengan periode tertentu. Fungsi dalam periode tersebut ialah jarak awal puncak hingga tamat puncak ataupun jarak yang terdapat diantara dua lembah/puncak. Dalam grafik tersebut terdapat amplitudo yaitu setengah dari selisih antara nilai maksimum dengan minimum dalam sebuah fungsi. Nah dalam pembahasan kali ini saya akan menjelaskan wacana materi grafik fungsi trigonometri lengkap.</p>
              </section>
              <section>
        </section>
    </article>  
  </div>





</section>
                        <aside>
                          <article class="profile">
                              <header>
                                  <h2>Profil Penulis</h2>
                                  
                                  <figure>
                                      <img src="./static/img/Foto.jpeg">
                                      <figcaption> <p>Muhamad Habiibullah</p></figcaption>
                                      <figcaption> <p>MATEMATIKA</p></figcaption>
                                      <figcaption> <p>18610032</p></figcaption>
                                    </figure>
                              </header>
                              <section>
                                  <h3>Artikel Terkait</h3>
                                  <table>
                                      <tr>
                                          <a href="#">5 Pantai Terindah di Jawa Timur</a><br>
                                          
                                      </tr>
                                      <tr>
                                          <a href="#">5 Coban Terkeren di Jawa Timur</a><br>
                                        
                                      </tr>
                                      <tr>
                                          <a href="#">4 Wisata yang Cocok Untuk Melepas Penat</a><br>
                                        
                                      </tr>
                                      <tr>
                                          <a href="#">5 Taman Rekreasi Keluarga yang Wajib Dikunjungi</a><br>
                                        
                                      </tr>
                                      <tr>
                                          <a href="#">4 Pantai yang Wajib Dikunjungi Saat Liburan</a><br>

                                      </tr>
                                      <tr>
                                          <a href="#">4 Wisata yang Wajib Dikunjungi di Malang Selatan dan Utara</a><br>
                                          
                                      </tr>
                                  </table>
                              </section>
                          </article>
                        </aside>
    

<script src="./static/js/app.js"></script>




    <footer>
      <p>Copyright &#169; 2021, Muhamad Habibullah Matematika 18610032</p>
    </footer>

    
</body>
</html>
{% endblock content %}

